.post-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.post-card--dark {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 1px 10px 0px rgba(255, 255, 255, 0.1);
}

.post-card__img-content {
  position: relative;
  width: 100%;
  max-height: 288px;
  height: auto;
}

.post-card__img-wrapper {
}

.post-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}

.post-card--dark .post-card__content {
  color: #ffffff;
}

.post-card__inner-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card__title {
  font-weight: 600;
  font-size: 18px;
}

.post-card__excerpt {
  font-size: 15px;
  line-height: 1.83;
  color: rgba(130, 130, 130, 0.8);
  text-wrap: wrap;
  word-wrap: break-word;
}

.post-card__inner-bottom {
  margin: auto 0 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-card__place,
.post-card__link {
  font-size: 14px;
  line-height: 1.83;
  font-weight: 500;
  width: fit-content;
}

.post-card__link {
  text-decoration: underline;
}
